---
---

<details>
  <summary class="step">Step Three</summary>

  <h3 class="junior">Language syntax</h3>
  <div>
    <details>
      <summary class="first junior">Language concepts</summary>
      <ul>
        <li class="second junior">auto (automatic type deduction)</li>
        <li class="second junior">type casting</li>
        <ul>
          <li class="third junior">static_cast</li>
          <li class="third junior">const_cast</li>
          <li class="third middle">dynamic_cast</li>
          <li class="third middle">reinterpret_cast</li>
        </ul>
        <li class="second middle">Undefined Behavior (UB)</li>
        <li class="second middle">Argument-dependent lookup (ADL)</li>
        <li class="second senior">Macros</li>
        <li class="second optional">Name mangling</li>
      </ul>
    </details>
    <details>
      <summary class="first junior">Standard library + STL</summary>
      <ul>
        <li class="second junior">iostream</li>
        <li class="second junior">Date/time</li>
        <li class="second junior">Containers</li>
        <li class="second junior">Iterators</li>
        <li class="second junior">Algorithms</li>
        <li class="second middle">Multithreading</li>
      </ul>
    </details>
  </div>
  <h3 class="junior">Language tools</h3>
  <div>
    <details>
      <summary class="first junior">Compilers</summary>
      <ul>
        <li class="second junior">Basic understanding of compilers stages</li>
        <ul>
          <li class="third junior">Compilation of sources to object files (compilation)</li>
          <li class="third junior">The object files linkage (linking)</li>
          <li class="third senior">Working stages of compilers</li>
        </ul>
        <li class="second junior">Features of a particular compiler</li>
      </ul>
    </details>
  </div>
</details>
