---
---

<details>
  <summary class="step">Step Two</summary>

  <h3 id="Language syntax" class="junior">Language syntax</h3>
  <div>
    <details>
      <summary class="first junior">Structures and classes</summary>
      <ul>
        <li class="second junior">Object Oriented programming (OOP)</li>
        <ul>
          <li class="third junior">Static polymorphism</li>
          <ul>
            <li class="fourth junior">Overloading of functions</li>
          </ul>
          <li class="third junior">Dynamic polymorphism</li>
          <ul>
            <li class="fourth junior">Virtual methods</li>
            <li class="fourth junior">Virtual table (vtbl)</li>
          </ul>
        </ul>
        <li class="second middle">The rule of zero/three/five</li>
        <li class="second middle">Multiple inheritance</li>
        <ul>
          <li class="third middle">Diamond inheritance</li>
        </ul>
      </ul>
    </details>
    <details>
      <summary class="first junior">Exception handling</summary>
      <ul>
        <li class="second junior">Exceptions</li>
        <ul>
          <li class="third junior">Access violation</li>
        </ul>
        <li class="second optional">Error codes</li>
      </ul>
    </details>
  </div>
  <h3 id="Common skills" class="junior">Common skills</h3>
  <div>
    <details>
      <summary class="first junior">Software design</summary>
      <ul>
        <li class="second middle">Design Patters (GoF)</li>
        <ul>
          <li class="second middle">Structural</li>
          <li class="second middle">Behavioral</li>
          <li class="second middle">Creational</li>
        </ul>
        <li class="second junior">OOP</li>
        <ul>
          <li class="second middle">SOLID</li>
        </ul>
        <li class="second middle">UML</li>
      </ul>
    </details>
  </div>
</details>
