* {
  box-sizing: border-box;
}

html {
  background-color: #16161a;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Noto Sans', Helvetica, Arial, sans-serif,
    'Apple Color Emoji', 'Segoe UI Emoji';
  line-height: 1.5;
  word-wrap: break-word;
}

body {
  margin: 0 auto;
  width: 100%;
  max-width: 80ch;
  padding: 1.25rem;
  line-height: 1.5;
}

body::-webkit-scrollbar {
  display: none;
}

h1,
h2,
h3,
h4,
h5 {
  color: #fffffe;
}

h1 {
  margin: 1rem 0;
  font-size: 2.5rem;
}

h3 {
  padding-left: 0.5rem;
}

h4 {
  padding-left: 1rem;
}

h5 {
  padding-left: 1.5rem;
}

h3 em {
  color: #808080;
}

p,
li {
  color: #94a1b2;
}

p {
  line-height: 1.8;
}

p.time {
  line-height: 1.4;
}

.time {
  display: grid;
  grid-template-columns: auto 1fr;
  gap: 10px;
}

.time b {
  text-align: right;
}

a {
  text-decoration: none;
}

a:link,
a:visited {
  color: #808080;
}
a:hover,
a:active {
  color: #2cb67d;
}

blockquote {
  margin-inline-start: 0.5rem;
  border-left: 0.5rem solid #808080;
  padding-left: 1rem;
}

details summary::marker {
  color: #808080;
}

details summary {
  color: #808080;
}

details summary:hover {
  color: #2cb67d;
}

pre {
  clear: both;
}

h1 code,
h2 code,
h3 code,
p code,
li code {
  padding: 0.2em 0.4em;
  margin: 0;
  font-size: 85%;
  white-space: break-spaces;
  background-color: #636e7b66;
  border-radius: 6px;
  font-family: ui-monospace, SFMono-Regular, SF Mono, Menlo, Consolas, Liberation Mono, monospace;
}

ol {
  padding-inline-start: 25px;
}

li {
  line-height: 1.7;
}

p img,
p svg {
  width: 100%;
}

table {
  border: 1px solid #94a1b2;
  margin: 0.6rem 0;
}

table thead {
  color: #94a1b2;
  font-weight: bold;
}

table tbody {
  color: #b0b0b0;
}

table thead tr th,
table tbody tr td {
  border: 1px solid #808080;
}

/* tags */
.tag a {
  color: #00539f !important;
}

.tags {
  display: flex;
  flex-wrap: wrap;
  margin: 0 auto;
}

.tag {
  margin: 0.25em;
  border: dotted 1px #a1a1a1;
  border-radius: 0.5em;
  padding: 0.3rem 0.6rem;
  font-size: 1rem;
  background-color: #f8fcfd;
}

/* underline */
.underline {
  position: relative;
  display: inline-block;
  padding-bottom: 5px;
  cursor: pointer;
}

.underline::before {
  content: '';
  position: absolute;
  left: 0;
  bottom: 0;
  width: 0;
  height: 2px;
  background-color: #808080;
  transition: width 0.5s ease-out;
}

.underline:hover::before {
  width: 100%;
}

.underline:hover {
  cursor: pointer;
}

/* previous-next-article */
#previous-next-article {
  display: flex;
  justify-content: space-between;
  margin: 1rem 0;
}

#previous,
#next {
  max-width: 150px;
  height: 30px;
  overflow: hidden;
  white-space: nowrap;
  text-overflow: ellipsis;
}

#next {
  text-align: right;
}

/* copy */
.octicon {
  display: inline-block;
  overflow: visible !important;
  vertical-align: text-bottom;
  fill: currentColor;
}

.octicon-copy {
  color: #768390;
  vertical-align: text-bottom;
}

.octicon-check {
  color: #008080;
}

.m-2 {
  margin: var(--base-size-8, 8px) !important;
}

/* normal */
#normal {
  color: #94a1b2;
}

@media screen and (min-width: 636px) {
  body {
    padding: 1rem;
  }

  .tag {
    padding: 0.5rem 1rem;
    font-size: 1.15rem;
  }

  #controls {
    display: flex;
  }
}
