summary {
  cursor: pointer;
}

summary::before {
  content: '';
  display: inline-block;
  margin-right: 3.3px;
}

h3 {
  margin-block-start: 0.5rem;
  margin-block-end: 0.5rem;
  font-style: italic;
}

details ul {
  margin-block-start: 0.3rem;
  margin-block-end: 0.3rem;
  margin-left: 1rem;
}

details ul ul {
  margin-block-start: 0.3rem;
  margin-block-end: 0.3rem;
  margin-left: -0.6rem;
}

p {
  margin-block-start: 0;
  margin-block-end: 0;
  font-style: italic;
}

.step {
  margin-block-start: 0.3rem;
  margin-block-end: 0.3rem;
  font-weight: bolder;
  font-style: italic;
}

.first {
  padding-left: 1rem;
}

.junior {
  color: rgb(112, 172, 112) !important;
}

.middle {
  color: rgb(206, 206, 107) !important;
}

.senior {
  color: rgb(183, 188, 233) !important;
}

.optional {
  color: rgb(125, 160, 214) !important;
}

.architecture {
  margin-left: -0.8rem;
}
