---
---

<details>
  <summary class="step">Step Five</summary>

  <h3 class="junior">Language tools</h3>
  <div>
    <details>
      <summary class="first junior">Build systems</summary>
      <ul>
        <li class="second middle">CMake</li>
        <li class="second optional">Makefile</li>
        <li class="second optional">ninja</li>
      </ul>
    </details>
    <details>
      <summary class="first junior">Package managers</summary>
      <ul>
        <li class="second optional">Conan</li>
        <li class="second optional">nuget</li>
        <li class="second optional">vcpkg</li>
        <li class="second optional">spack</li>
      </ul>
    </details>
    <details>
      <summary class="first junior">Working with libraries</summary>
      <ul>
        <li class="second middle">Libraries inclusion</li>
        <li class="second optional">Licensing</li>
      </ul>
    </details>
    <details>
      <summary class="first junior">Libraries</summary>
      <ul>
        <li class="second middle">boost</li>
        <li class="second optional">opencv</li>
        <li class="second optional">poco</li>
        <li class="second optional">protobuf</li>
        <li class="second optional">gRPC</li>
        <li class="second optional">fmt</li>
        <li class="second optional">pybindll</li>
        <li class="second optional">spdlog</li>
        <li class="second optional">ranges_v3</li>
        <li class="second optional">tensorflow</li>
        <li class="second optional">opencl</li>
      </ul>
    </details>
    <details>
      <summary class="first junior">Frameworks</summary>
      <ul>
        <li class="second middle">gtest/gmock</li>
        <li class="second optional">Qt</li>
        <li class="second optional">catch2</li>
        <li class="second optional">google profiler</li>
        <li class="second optional">pytorch c++</li>
      </ul>
    </details>
  </div>
</details>
