---
---

<details>
  <summary class="step">Step Four</summary>

  <h3 class="junior">Language syntax</h3>
  <div>
    <details>
      <summary class="first junior">Templates</summary>
      <ul>
        <li class="second middle">Variadic templates</li>
        <li class="second middle">The template specialization</li>
        <ul>
          <li class="third middle">The full template specialization</li>
          <li class="third middle">The partial template specialization</li>
        </ul>
        <li class="second senior">type traits</li>
        <li class="second senior">SFINAE</li>
      </ul>
    </details>
    <details>
      <summary class="first junior">Idioms</summary>
      <ul>
        <li class="second junior">RAII</li>
        <li class="second middle">pimpl</li>
        <li class="second middle">Non-Copyable/Non-Moveable</li>
        <li class="second middle">Erase-Remove</li>
        <li class="second middle">Copy and swap</li>
        <li class="second middle">Copy on write</li>
        <li class="second middle">CRTP</li>
      </ul>
    </details>
    <details>
      <summary class="first junior">Standards</summary>
      <ul>
        <li class="second junior">C++11/14</li>
        <li class="second junior">C++17</li>
        <li class="second middle">C++20</li>
        <li class="second senior">newest</li>
        <li class="second optional">C++0x</li>
      </ul>
    </details>
  </div>
  <h3 class="junior">Common skills</h3>
  <div>
    <details>
      <summary class="first junior">Best practices</summary>
      <ul>
        <li class="second junior">Code quality</li>
        <ul>
          <li class="third junior">Code guidelines</li>
          <li class="third junior">Principles of development</li>
          <ul>
            <li class="third junior">KISS (Keep It Simple, Stupid)</li>
            <li class="third junior">DRY (Don't Repeat Yourself)</li>
            <li class="third junior">YAGNI (You Aren't Gonna Need It)</li>
            <li class="third junior">APO (Avoid Premature Optimization)</li>
            <li class="third middle">BDUF (Big Design Up Front)</li>
            <li class="third middle">Composition is preferably than the inheritance</li>
            <li class="third middle">Occam's razor</li>
            <li class="third middle">Divide and Conquer</li>
          </ul>
          <li class="third junior">Logging and telemetry</li>
          <li class="third junior">Code review</li>
          <ul>
            <li class="forth junior">Skill to read existing code sources</li>
            <li class="forth middle">Skill to review code</li>
          </ul>
          <li class="third junior">Lifecycle stages of a software</li>
          <ul>
            <li class="forth junior">Implementation</li>
            <li class="forth junior">Testing</li>
            <ul>
              <li class="fifth junior">Unit tests</li>
              <li class="fifth junior">Integration tests</li>
              <li class="fifth junior">Functional tests</li>
              <li class="fifth middle">Performance tests</li>
            </ul>
            <li class="forth junior">Maintanance</li>
            <li class="forth junior">Versioning</li>
            <ul>
              <li class="fifth junior">Backward compatibility</li>
            </ul>
            <li class="forth middle">Software architecture and components design</li>
            <li class="forth middle">Components integration</li>
            <li class="forth middle">Deployment</li>
            <li class="forth senior">Collecting requirements</li>
            <li class="forth senior">End of a software lifecycle</li>
          </ul>
          <li class="third middle">Code analyzers</li>
          <ul>
            <li class="forth middle">Static analyzers</li>
            <li class="forth middle">Dynamic analyzers</li>
            <ul>
              <li class="fifth middle">Profilers</li>
            </ul>
          </ul>
          <li class="third optional">C++ core guidelines</li>
          <ul>
            <li class="forth optional">Microsoft GSL</li>
          </ul>
          <li class="third optional">Industrial standards</li>
          <ul>
            <li class="forth optional">MISRA</li>
            <li class="forth optional">Autosar</li>
          </ul>
        </ul>
        <li class="second junior">Command line</li>
        <ul>
          <li class="third optional">Powershell</li>
          <li class="third optional">batch</li>
          <li class="third optional">bash</li>
        </ul>
        <li class="second junior">CI/CD</li>
        <ul>
          <li class="third junior">Creation of a software deployment package</li>
          <ul>
            <li class="forth junior">Documentation</li>
            <li class="forth junior">Installer package</li>
          </ul>
          <li class="third optional">Trunk Based Development</li>
          <li class="third optional">Zero downtime deployment</li>
        </ul>
        <li class="second middle">Usage of other programming languages</li>
        <li class="second middle">Language interoperability</li>
      </ul>
    </details>
  </div>
</details>
