---
---

<details>
  <summary class="step">Step One</summary>

  <h3 class="junior">Language syntax</h3>
  <div>
    <details>
      <summary class="first junior">Basic operations</summary>
      <ul>
        <li class="second junior">Arithmetic operations</li>
        <li class="second junior">Logical operations</li>
        <li class="second junior">Loops: for/while</li>
        <li class="second middle">Bitwise operations</li>
      </ul>
    </details>
    <details>
      <summary class="first junior">Functions</summary>
      <ul>
        <li class="second middle">Operators</li>
        <li class="second middle">lambda</li>
      </ul>
    </details>
    <details>
      <summary class="first junior">Data types</summary>
      <ul>
        <li class="second middle">Static typing</li>
        <li class="second middle">Dynamic typing</li>
        <ul>
          <li class="third middle">RTTI</li>
        </ul>
      </ul>
    </details>
    <details>
      <summary class="first junior">Pointers & References</summary>
      <ul>
        <li class="second junior">References</li>
        <li class="second junior">Smart pointer</li>
        <ul>
          <li class="third junior">unique_ptr</li>
          <li class="third junior">shared_ptr</li>
          <li class="third middle">weak_ptr</li>
        </ul>
        <li class="second junior">Memory model</li>
        <ul>
          <li class="third junior">Lifetime of objects</li>
        </ul>
        <li class="second junior">Raw pointers</li>
        <ul>
          <li class="third junior">new/delete operators</li>
          <li class="third junior">Memory leakage</li>
        </ul>
      </ul>
    </details>
    <details>
      <summary class="first junior">Codebase structuring</summary>
      <ul>
        <li class="second junior">Code splitting into headers/cpp files</li>
        <ul>
          <li class="third junior">Forward declaration</li>
        </ul>
        <li class="second junior">Scope</li>
        <ul>
          <li class="third junior">Namespaces</li>
        </ul>
      </ul>
    </details>
  </div>
  <h3 class="junior">Language tools</h3>
  <div>
    <details>
      <summary class="first junior">Working with source code</summary>
      <ul>
        <li class="second junior">Text editors</li>
        <li class="second junior">IDE</li>
        <li class="second junior">Code editors</li>
        <ul>
          <li class="third junior">Knowledge of features and abilities (shortcuts, tools, plugins)</li>
        </ul>
        <li class="second junior">Debugger</li>
        <ul>
          <li class="third junior">Understanding of debugger messages</li>
          <li class="third junior">Debugging symbols</li>
          <li class="third optional">WinDbg</li>
          <li class="third optional">GDB</li>
        </ul>
        <li class="second middle">Linters</li>
      </ul>
    </details>
  </div>
  <h3 class="junior">Common skills</h3>
  <div>
    <details>
      <summary class="first junior">Computers Science</summary>
      <ul>
        <li class="second junior">Data structures</li>
        <li class="second junior">Boolean algebra</li>
        <li class="second junior">Algorithms</li>
        <li class="second junior">Finite-state machines</li>
      </ul>
    </details>
  </div>
</details>
