---
import BaseLayout from '../../layouts/BaseLayout.astro'

const projectPosts = await Astro.glob('../posts/*.md')
const cleanCxxPosts = await Astro.glob('../posts/clean_cxx/*.md')
const cxxCreationalPatternsPosts = await Astro.glob('../posts/cxx_design_patterns/creational_patterns/*.md')
const cxxStructuralPatternsPosts = await Astro.glob('../posts/cxx_design_patterns/structural_patterns/*.md')
const cxxBehavioralPatternsPosts = await Astro.glob('../posts/cxx_design_patterns/behavioral_patterns/*.md')
const projectTags = [...new Set(projectPosts.map((post) => post.frontmatter.tags).flat())]
const cleanCxxTags = [...new Set(cleanCxxPosts.map((post) => post.frontmatter.tags).flat())]
const cxxCreationalPatternsTags = [...new Set(cxxCreationalPatternsPosts.map((post) => post.frontmatter.tags).flat())]
const cxxStructuralPatternsTags = [...new Set(cxxStructuralPatternsPosts.map((post) => post.frontmatter.tags).flat())]
const cxxBehavioralPatternsTags = [...new Set(cxxBehavioralPatternsPosts.map((post) => post.frontmatter.tags).flat())]
const uniqueTags = [
  ...new Set([
    ...projectTags,
    ...cleanCxxTags,
    ...cxxCreationalPatternsTags,
    ...cxxStructuralPatternsTags,
    ...cxxBehavioralPatternsTags,
  ]),
]
const pageTitle = '标签'
---

<BaseLayout pageTitle={pageTitle}>
  <div class="tags">
    {
      uniqueTags.map((tag) => (
        <p class="tag">
          <a href={`/tags/${tag}`}>{tag}</a>
        </p>
      ))
    }
  </div>
</BaseLayout>
