---
import BaseLayout from '../layouts/BaseLayout.astro'

const pageTitle = '关于这个 Coder'

const skills = ['网络搜索技巧', '英语', '调试', '文档阅读能力']
---

<BaseLayout pageTitle={pageTitle}>
  <p>他的一些信息</p>
  <ul>
    <li class="textGap">常用网名 <em>kok-s0s</em></li>
    <li class="textGap">目前做着和 C++ 相关的工作，类比 Linux 中的管道概念，常做一些数据的输入输出的工作，做一个好的「 中转站 」，偶尔用用 Python 这个利器来辅助处理下数据。</li>
    <li class="textGap">离不开 Code Format</li>
    <li class="textGap">团队开发最喜欢 Code Review 环节 /doge</li>
  </ul>
  <p>他认为程序员要熟练的能力：</p>
  <ul id="skills">
    {skills.map((skill) => <li class="skill textGap">{skill}</li>)}
  </ul>
</BaseLayout>

<style>
  #skills {
    gap: 0.2rem;
  }

  .textGap {
    line-height: 1.6;
  }

  .skill {
    font-weight: bold;
    letter-spacing: 0.8px;
  }
</style>
