---
import BaseLayout from '../layouts/BaseLayout.astro'

const pageTitle = '有关这个码仔'

const selfInfo = [
  '目前主要做 C++ 开发，职责类似 Linux 中 pipe 的作用， 常对数据做些处理，做一个好的「 中转站 」；常用 Python 这个脚本利器来处理下数据。',
  '离不开 Code Format',
  '团队开发最喜欢 Code Review 环节 /doge',
]
const skills = ['英语', '网络搜索技巧', '文档阅读能力', '调试', '会和 ChatGPT 聊天 /doge']
---

<BaseLayout pageTitle={pageTitle}>
  <p>他的一些信息：</p>
  <ul>
    <li class="textGap">常用网名 <em>kok-s0s</em></li>
    {selfInfo.map((info) => <li class="textGap">{info}</li>)}
  </ul>
  <p>他认为程序员要熟练的能力：</p>
  <ul>
    {skills.map((skill) => <li class="skill textGap">{skill}</li>)}
  </ul>
  <p>他的一些 C++ 项目：</p>
  <ul>
    <li>
      <a href="https://github.com/kok-s0s/cxx_crud_file" target="_blank">
        <em>cxx_crud_file</em>
      </a>
      -
      <a href="/posts/cxx_crud_file">
        <em>记一次「 包轮子 」的经历</em>
      </a>
      <p class="textGap">
        以剔除 Qt 代码为目标而诞生的项目。用 UString 替换掉 QString 类型，用 <code>filesystem</code>
        库编写个 UFile 基类，基于 UFile 衍生出 JsonFile、IniFile 来替换掉 Qt 的 QJson 和 QSetting 类；且衍生出 BinFile、TxtFile
        和 BmpFile 来处理二进制文件、文本文件和 bmp 文件。
      </p>
    </li>
    <li>
      <a href="https://github.com/kok-s0s/cxx_thread" target="_blank">
        <em>cxx_thread</em>
      </a>
      <p class="textGap">
        根据实际业务需求而设计的线程基类，模仿了 Qt 的信号与槽机制，即一个信号 ID 与一个事件绑定，信号 ID
        由一个队列维护。
      </p>
    </li>
    <li>
      <a href="https://github.com/kok-s0s/socket_qt_dotNet" target="_blank">
        <em>socket_qt_dotNet</em>
      </a>
      <p class="textGap">
        基于 Qt 和 .Net 的 Socket 通信，实现了客户端与服务端的通信，服务端可以同时与多个客户端通信。
      </p>
    </li>
  </ul>
  <p>他目前阅览的书籍：</p>
  <ul>
    <li class="book textGap">Clean C++</li>
    <li class="book textGap"><s>Linux Shell 脚本攻略</s> 看一半弃了，用 ChatGPT 生成脚本嘎嘎香！</li>
  </ul>
</BaseLayout>

<style>
  .textGap {
    line-height: 1.6;
  }

  .skill,
  .book {
    letter-spacing: 1px;
  }
</style>
