---
import BaseLayout from '../layouts/BaseLayout.astro'

const pageTitle = '零'
---

<BaseLayout pageTitle={pageTitle}>
  <h3><em>Zero-One</em></h3>
  <p></p>
</BaseLayout>

<style>
  p {
    letter-spacing: 3px;
  }
</style>
