---
import BaseLayout from '../layouts/BaseLayout.astro'

const pageTitle = 'é›¶'
---

<BaseLayout pageTitle={pageTitle}>
  <h3>
    <em>ğ“©ğ“®ğ“»ğ“¸-ğ“ğ“·ğ“®</em>
  </h3>
  <img src="/images/moon.jpeg" alt="moon" id="moon" />
  <blockquote id="space">
    <a href="https://apod.nasa.gov/apod/astropix.html" target="_blank" class="underline">
      Astronomy Picture of the Day
    </a>
  </blockquote>
</BaseLayout>

<style>
  #moon {
    width: 50%;
  }

  #space {
    display: none;
  }

  @media screen and (min-width: 636px) {
    #space {
      display: block;
    }
  }
</style>
