---
import BaseLayout from '../layouts/BaseLayout.astro'

const pageTitle = '零'
---

<BaseLayout pageTitle={pageTitle}>
  <p>
    <em id="motto">『 無無無無_just4now 』</em>
  </p>
  <img src="/images/moon.jpeg" alt="moon" id="moon" />
</BaseLayout>

<style>
  #motto {
    letter-spacing: 1.6px;
  }

  #moon {
    width: 50%;
  }
</style>
