---
import BaseLayout from '../layouts/BaseLayout.astro'

const pageTitle = '零'
---

<BaseLayout pageTitle={pageTitle}>
  <blockquote>
    <p><em>Do the Impossible, See the Invisible.</em></p>
  </blockquote>
  <img src="/images/moon.jpeg" alt="moon" id="moon" />
</BaseLayout>

<style>
  #moon {
    width: 50%;
  }

  #space {
    display: none;
  }

  @media screen and (min-width: 636px) {
    #space {
      display: block;
    }
  }
</style>
