---
import BaseLayout from '../layouts/BaseLayout.astro'

const pageTitle = 'é›¶'
---

<BaseLayout pageTitle={pageTitle}>
  <h3><em>ğ“©ğ“®ğ“»ğ“¸-ğ“ğ“·ğ“®</em></h3>
  <img src="/images/moon.jpeg" alt="moon" id="moon" />
</BaseLayout>

<style>
  #moon {
    width: 50%;
  }
</style>
