---
import BaseLayout from '../layouts/BaseLayout.astro'

const pageTitle = 'Lecture'
---

<BaseLayout pageTitle={pageTitle}>
  <ul>
    <li><a href="https://qt-linux-dev.netlify.app/1" target="_blank">Qt Linux Dev</a></li>
    <li><a href="https://vscode-cmake-cxx-tdd.netlify.app" target="_blank">VSCode CMake C++ TDD</a></li>
  </ul>
</BaseLayout>
