---
import BaseLayout from '../layouts/BaseLayout.astro'

const pageTitle = '当下'
---

<BaseLayout pageTitle={pageTitle}>
  <blockquote>
    <p>
      本页用于记录当下我的生活 -
      <a href="https://nownownow.com/about" target="_blank" class="underline">页面灵感来源</a> - 6.5.2023 更新于汕头
    </p>
  </blockquote>
  <h2>Life</h2>
  <ul>
    <li>
      日常工作
      <ul>
        <li>主要是 C/C++ 开发</li>
        <li>偶尔需要用 Qt 或者 Flutter 做些应用层的东西</li>
        <li>业务项目推进</li>
      </ul>
    </li>
    <li>
      知识学习
      <ul>
        <li>语言学习 - 英语 & 日语 - Duolingo & Youtube</li>
        <li>剪辑相关的知识，实践出真知，每月至少制作一只视频</li>
        <li>零散时间看点书籍，阅读编程书籍喜欢边看边实际动手敲些代码</li>
        <li>
          逛论坛看帖子 - <a href="https://0xffff.one/" target="_blank" class="underline">0xffff.one</a> |
          <a href="https://www.reddit.com/" target="_blank" class="underline">Reddit</a> |
          <a href="https://medium.com/" target="_blank" class="underline">Medium</a> | and so on.
        </li>
      </ul>
    </li>
    <li>
      游戏 - 主社交，少单机
      <ul>
        <li>原神 - 日常割草</li>
        <li>王者荣耀</li>
      </ul>
    </li>
    <li>
      增重和健身 - 年末目标体重 60kg
      <ul>
        <li>健康饮食，周末放纵餐</li>
        <li>每周抽出时间做三次健身运动</li>
      </ul>
    </li>
    <li>
      旅行 - 不玩说走就走，主打一个主动探索
      <ul>
        <li>规划一次国外旅行 - 日本</li>
        <li>规划一次国内旅行 - 待定</li>
      </ul>
    </li>
  </ul>
  <blockquote>
    <p>并非自律，只是有个预期才好行动起来</p>
  </blockquote>
</BaseLayout>

<style>
  h2 {
    margin: 0.5rem 0 0.5rem 0;
  }

  ul {
    padding-inline-start: 30px;
    margin-top: 0;
  }

  ul ul {
    list-style-type: disc;
    padding: 0.5rem 0 0.5rem 0;
    padding-inline-start: 20px;
  }
</style>
