---
import BaseLayout from '../layouts/BaseLayout.astro'
import NintendoSwitch from '../components/NintendoSwitch.astro'

const pageTitle = '当下'
---

<BaseLayout pageTitle={pageTitle}>
  <blockquote>
    <p>2023-11-08 · 更新于广州</p>
  </blockquote>
  <h2>Life</h2>
  <ul>
    <li>
      知识学习
      <ul>
        <li>语言学习 - 英语 & 日语 - Duolingo & YouTube</li>
        <li>看些书籍，阅读编程书籍喜欢边看边实际动手敲些代码</li>
        <li>用 ChatGPT 之类的 AI 应用，快速上手其它计算机领域的知识</li>
        <li>
          逛论坛看帖子 - <a href="https://0xffff.one/" target="_blank" class="underline">0xffff.one</a> |
          <a href="https://www.reddit.com/" target="_blank" class="underline">Reddit</a> |
          <a href="https://medium.com/" target="_blank" class="underline">Medium</a> | and so on.
        </li>
      </ul>
    </li>
    <li>
      娱乐
      <ul>
        <li>追新番新剧</li>
        <li>
          Nintendo Switch
          <hr />
          <NintendoSwitch />
        </li>
      </ul>
    </li>
    <li>
      增重和健身 - 年末目标体重 60kg，目前 55kg
      <ul>
        <li>基本健康（普通）饮食 - 偶尔放纵餐</li>
        <li>周末无雨 - 则骑行代步 20 ~ 30 km</li>
      </ul>
    </li>
  </ul>
  <blockquote>
    <p>并非自律，只是有个预期才好行动起来</p>
  </blockquote>
</BaseLayout>

<style>
  h2 {
    margin: 0.5rem 0 0.5rem 0;
  }

  ul {
    padding-inline-start: 15px;
    margin-top: 0;
  }

  ul ul {
    padding: 0.5rem 0 0.5rem 0;
    padding-inline-start: 10px;
  }

  blockquote {
    margin-inline-start: 0rem;
  }

  hr {
    border-style: none;
    margin: 0.2rem;
  }

  @media screen and (min-width: 636px) {
    ul {
      padding-inline-start: 30px;
      margin-top: 0;
    }

    ul ul {
      list-style-type: disc;
      padding-inline-start: 20px;
    }
  }
</style>
