---
import BaseLayout from '../layouts/BaseLayout.astro'
import NintendoSwitch from '../components/NintendoSwitch.astro'

const pageTitle = '当下'
---

<BaseLayout pageTitle={pageTitle}>
  <blockquote>
    <p>
      本页用于记录当下我的生活 -
      <a href="https://nownownow.com/about" target="_blank" class="underline">页面灵感来源</a> - 10.01.2023 更新于广州
    </p>
  </blockquote>
  <h2>Life</h2>
  <ul>
    <li>暂无工作 - 休养生息一段时间 - 然后继续打工搞钱</li>
    <li>
      优化本博客
      <ul>
        <li>移动端 / iPad 下的样式适配以及 MacOS、Windows 和 Linux 三平台下 PC 的显示调整，找到一个「 平衡点 」。</li>
      </ul>
    </li>
    <li>欠的几篇技术文章 - 懒得梳理 | 只写了个开头 | 争取下份工作开始前搞定</li>
    <li>
      知识学习
      <ul>
        <li>语言学习 - 英语 & 日语 - Duolingo & YouTube</li>
        <li>看些书籍，阅读编程书籍喜欢边看边实际动手敲些代码</li>
        <li>用 ChatGPT 之类的 AI 应用，快速上手其它计算机领域的知识</li>
        <li>
          逛论坛看帖子 - <a href="https://0xffff.one/" target="_blank" class="underline">0xffff.one</a> |
          <a href="https://www.reddit.com/" target="_blank" class="underline">Reddit</a> |
          <a href="https://medium.com/" target="_blank" class="underline">Medium</a> | and so on.
        </li>
      </ul>
    </li>
    <li>
      娱乐
      <ul>
        <li>把这一年积攒的模型拼完</li>
        <li>补番补剧 - 各个类型都看看，审美积累，将来不敲代码，能有个选择投身动漫或影视行业</li>
        <li>
          Nintendo Switch
          <hr />
          <NintendoSwitch />
          <hr />
        </li>
      </ul>
    </li>
    <li>
      增重和健身 - 年末目标体重 60kg，目前 54 kg
      <ul>
        <li>基本健康（普通）饮食 - 出门恰饭或友人聚餐即为放纵餐</li>
        <li>无雨 - 则日常骑行代步 20 ~ 30 km</li>
      </ul>
    </li>
  </ul>
  <blockquote>
    <p>并非自律，只是有个预期才好行动起来</p>
  </blockquote>
</BaseLayout>

<style>
  h2 {
    margin: 0.5rem 0 0.5rem 0;
  }

  ul {
    padding-inline-start: 30px;
    margin-top: 0;
  }

  ul ul {
    list-style-type: disc;
    padding: 0.5rem 0 0.5rem 0;
    padding-inline-start: 20px;
  }

  hr {
    border-style: none;
  }
</style>
