---
import BaseLayout from '../layouts/BaseLayout.astro'

const pageTitle = '当下'
---

<BaseLayout pageTitle={pageTitle}>
  <blockquote>
    <p>
      本页用于记录当下我的生活 -
      <a href="https://nownownow.com/about" target="_blank" class="underline">页面灵感来源</a> - 8.26.2023 更新于广州
    </p>
  </blockquote>
  <blockquote>
    <p>不上班，脑子每天都好活跃！快乐的是探索和钻研，并非无意义的开会 PPT 和扯皮。</p>
  </blockquote>
  <h2>Life</h2>
  <ul>
    <li>暂无工作 - 休养生息一段时间 - 然后继续打工搞钱</li>
    <li>
      优化本博客 - More Features
      <ul>
        <li>博客惨遭他人吐槽，砍掉主题切换，默认黑色主题</li>
        <li>歌单丰富点，不可单曲循环</li>
        <li>iPad 宽度下的样式适配</li>
      </ul>
    </li>
    <li>剪视频 - 懒到爆 & 太难了</li>
    <li>欠的几篇技术文章 - 懒得梳理 | 只写了个开头 | 争取下份工作开始前搞定</li>
    <li>
      知识学习
      <ul>
        <li>语言学习 - 英语 & 日语 - Duolingo & YouTube</li>
        <li>看些书籍，阅读编程书籍喜欢边看边实际动手敲些代码</li>
        <li>Code Review - 把手头上自己所写的项目都 Review 一遍，梳理一下自己的技术栈</li>
        <li>用 ChatGPT 之类的 AI 应用，快速上手其它计算机领域的知识</li>
        <li>偶尔早晨刷下 LeetCode，保持题感</li>
        <li>
          逛论坛看帖子 - <a href="https://0xffff.one/" target="_blank" class="underline">0xffff.one</a> |
          <a href="https://www.reddit.com/" target="_blank" class="underline">Reddit</a> |
          <a href="https://medium.com/" target="_blank" class="underline">Medium</a> | and so on.
        </li>
      </ul>
    </li>
    <li>
      娱乐
      <ul>
        <li>原神 - 日常割草</li>
        <li>把这一年积攒的模型拼完</li>
        <li>补番补剧 - 各个类型都看看，审美积累，将来不敲代码，能有个选择投身动漫或影视行业</li>
      </ul>
    </li>
    <li>
      增重和健身 - 年末目标体重 60kg，目前 54 kg
      <ul>
        <li>基本健康（普通）饮食 - 出门恰饭或友人聚餐即为放纵餐</li>
        <li>每日骑行代步 20 ~ 30 km</li>
      </ul>
    </li>
    <li>
      旅行 - 不玩说走就走，主打一个主动探索
      <ul>
        <li>规划一次国外旅行 - 日本 - 年初计划 | 签证搞定 | 10 月启程</li>
        <li>规划一次国内旅行 - 目的地待定 | 计划 9 月出行</li>
      </ul>
    </li>
  </ul>
  <blockquote>
    <p>已经对政治无感，但会关注政治，因为关注经济。</p>
    <p>爷是中国人，不会变的。</p>
    <p>会走出去，实际看看这个世界。</p>
    <img src="/images/true.jpg" alt="true" id="true" />
  </blockquote>
  <blockquote>
    <p>并非自律，只是有个预期才好行动起来</p>
  </blockquote>
</BaseLayout>

<style>
  h2 {
    margin: 0.5rem 0 0.5rem 0;
  }

  ul {
    padding-inline-start: 30px;
    margin-top: 0;
  }

  ul ul {
    list-style-type: disc;
    padding: 0.5rem 0 0.5rem 0;
    padding-inline-start: 20px;
  }

  #true {
    width: 60%;
  }
</style>
