---
import BaseLayout from '../layouts/BaseLayout.astro'
import Toc from '../components/Toc.astro'

const pageTitle = '打卡 C++ 开发者之路'
---

<BaseLayout pageTitle={pageTitle}>
  <Toc />
  <p>
    <a href="https://github.com/salmer/CppDeveloperRoadmap" target="_blank" class="underline">CppDeveloperRoadmap</a>
  </p>
  <ul>
    <li>Junior - Green</li>
    <li>Middle - Yellow</li>
    <li>Senior - Red</li>
    <li>Optional - Blue</li>
  </ul>
  <hr />
  <h2 id="Step One">Step One</h2>
  <h3 id="Basic operations" class="first junior">Basic operations</h3>
  <p class="second junior">Arithmetic operations</p>
  <p class="second junior">Logical operations</p>
  <p class="second junior">Loops: for/while</p>
  <p class="second middle">Bitwise operations</p>
  <br />
  <h3 id="Functions" class="first junior">Functions</h3>
  <p class="second middle">Operators</p>
  <p class="second middle">lambda</p>
  <br />
  <h3 id="Data types" class="first junior">Data types</h3>
  <p class="second middle">Static typing</p>
  <p class="second middle">Dynamic typing</p>
  <p class="third middle">RTTI</p>
  <br />
  <h3 id="Pointers & References" class="first junior">Pointers & References</h3>
  <p class="second junior">References</p>
  <p class="second junior">Smart pointer</p>
  <p class="third junior">unique_ptr</p>
  <p class="third junior">shared_ptr</p>
  <p class="third middle">weak_ptr</p>
  <p class="second junior">Memory model</p>
  <p class="third junior">Lifetime of objects</p>
  <p class="second junior">Raw pointers</p>
  <p class="third junior">new/delete operators</p>
  <p class="third junior">Memory leakage</p>
  <br />
  <h3 id="Codebase structuring" class="first junior">Codebase structuring</h3>
  <p class="second junior">Code splitting into headers/cpp files</p>
  <p class="third junior">Forward declaration</p>
  <p class="second junior">Scope</p>
  <p class="third junior">Namespaces</p>
  <br />
</BaseLayout>

<style>
  h3,
  p {
    margin-block-start: 0;
    margin-block-end: 0;
    font-style: italic;
  }

  .first {
    padding-left: 0.5rem;
    font-size: 1.35rem;
    font-weight: bolder;
  }

  .second {
    padding-left: 1.5rem;
    font-size: 1.25rem;
    font-weight: bold;
  }

  .third {
    padding-left: 2.5rem;
    font-size: 1.15rem;
    font-weight: bold;
  }

  .junior {
    color: rgb(112, 172, 112) !important;
  }

  .middle {
    color: rgb(206, 206, 107) !important;
  }

  .senior {
    color: rgb(183, 188, 233) !important;
  }

  .optional {
    color: rgb(125, 160, 214) !important;
  }
</style>
