---
import BaseLayout from '../layouts/BaseLayout.astro'
import One from './roadmap/one.astro'
import Two from './roadmap/two.astro'
import '../styles/roadmap.css'
import Three from './roadmap/three.astro'
import Four from './roadmap/four.astro'
import Five from './roadmap/five.astro'

const pageTitle = 'C++ Dev RoadMap'
---

<BaseLayout pageTitle={pageTitle}>
  <blockquote>
    <p>
      <a href="https://github.com/salmer/CppDeveloperRoadmap" target="_blank" class="underline">CppDeveloperRoadmap</a>
    </p>
  </blockquote>
  <One />
  <Two />
  <Three />
  <Four />
  <Five />
  <ul>
    <li class="junior">Junior</li>
    <li class="middle">Middle</li>
    <li class="senior">Senior</li>
    <li class="optional">Optional</li>
  </ul>
</BaseLayout>
