---
import BaseLayout from '../layouts/Base.astro'
import '../styles/roadmap.css'

const pageTitle = '路'
const knowledgeElementPosts = await Astro.glob('./posts/knowledge_element/*.md')
const scatteredPosts = await Astro.glob('./posts/scattered/*.md')
---

<BaseLayout pageTitle={pageTitle}>
  <img src="/images/bird.jpg" alt="moon" id="bird" />
  <blockquote>
    <p>虽说是工作，但我想找到乐趣</p>
  </blockquote>
  <h2>知识元</h2>
  <p>实际开发会常用到的一些知识点（不限语言）</p>
  <div id="knowledge-element">
    {
      knowledgeElementPosts.map((post) => (
        <details>
          <summary>{post.frontmatter.title}</summary>
          <div class="post-content">
            <post.Content />
          </div>
        </details>
      ))
    }
  </div>
  <p>无法说常存于大脑肌肉记忆中的（GPT生成）</p>
  <div id="scattered">
    {
      scatteredPosts.map((post) => (
        <details>
          <summary>{post.frontmatter.title}</summary>
          <div class="post-content">
            <post.Content />
          </div>
        </details>
      ))
    }
  </div>
</BaseLayout>

<script>
  // 处理details的互斥逻辑
  const reposList = document.getElementById('knowledge-element')
  const scatteredList = document.getElementById('scattered')

  // 合并两个列表中的所有 details 元素
  const allDetailsElements = [
    ...reposList.getElementsByTagName('details'),
    ...scatteredList.getElementsByTagName('details'),
  ]

  // 处理互斥逻辑
  for (const details of allDetailsElements) {
    details.addEventListener('toggle', () => {
      if (details.open) {
        for (const otherDetails of allDetailsElements) {
          if (otherDetails !== details) {
            otherDetails.removeAttribute('open')
          }
        }
      }
    })
  }
</script>
