---
const { title, url } = Astro.props
---

<li><a href={url}>{title}</a></li>

<style>
  li {
    line-height: 1.8;
  }

  a:link,
  a:visited {
    color: #2cb67d;
  }

  a:hover,
  a:active {
    color: #0a613d;
  }
</style>
