---
---

<footer>
  <a href="https://kok-s0s.top/" target="_blank">Blog</a>
  <a href="https://github.com/kok-s0s">Github</a>
</footer>

<style>
  footer {
    display: flex;
    gap: 1rem;
    margin-top: 2rem;
  }

  a {
    padding: 0.5rem 1rem;
    color: #fffffe;
    background-color: #7f5af0;
    text-decoration: none;
  }
</style>
