---
---

<footer>
  <div class="links">
    <a href="https://github.com/kok-s0s" target="_blank">Github</a>
    <a href="mailto:kok_s0s@163.com">Email</a>
  </div>
  <p id="sentence"></p>
</footer>

<style>
  .links {
    display: flex;
    gap: 1rem;
    margin-top: 2rem;
  }

  a {
    padding: 0.5rem 1rem;
    background-color: #7f5af0;
  }

  a:link,
  a:visited {
    color: #fffffe;
  }

  a:hover,
  a:active {
    color: #2cb67d !important;
  }
</style>

<script>
  import sentence_json from '../data/sentence.json'

  let sentences = []
  sentence_json.forEach((item) => {
    sentences.push(...item.li_texts)
  })

  let storedIndex = parseInt(localStorage.getItem('storedIndex')) || 0
  if (document.getElementById('sentence') !== null)
    document.getElementById('sentence').textContent = sentences[storedIndex]
  storedIndex = (storedIndex + 1) % sentences.length
  localStorage.setItem('storedIndex', storedIndex.toString())
</script>
