---
import Hamburger from './Hamburger.astro'
import Music from './Music.astro'
import Navigation from './Navigation.astro'
import ThemeIcon from './ThemeIcon.astro'
---

<header>
  <nav id="header">
    <Hamburger />
    <Navigation />
    <ThemeIcon />
    <Music />
  </nav>
</header>

<style>
  #header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    gap: 1rem;
  }
</style>
