---
---

<div id="player">
  <button id="play-btn" title="play-btn"></button>
</div>
<audio id="music-player"></audio>

<script>
  const playBtn: any = document.getElementById('play-btn')
  const musicPlayer: any = document.getElementById('music-player')
  const musicFiles: any = ['/music/do_the_impossible.mp3']

  let currentTrack = 0
  let isPlaying = false

  musicPlayer.addEventListener('ended', () => {
    currentTrack = (currentTrack + 1) % musicFiles.length
    musicPlayer.src = musicFiles[currentTrack]
    musicPlayer.play()
  })

  playBtn.addEventListener('click', () => {
    if (isPlaying) {
      musicPlayer.pause()
      playBtn.classList.remove('playing')
      playBtn.classList.add('paused')
      isPlaying = false
    } else {
      musicPlayer.src = musicFiles[currentTrack]
      musicPlayer.play()
      playBtn.classList.remove('paused')
      playBtn.classList.add('playing')
      isPlaying = true
    }
  })
</script>
