<div class="controls">
  <div>
    <i class="fas fa-backward" id="prev-btn"></i>
  </div>
  <div id="player-btn">
    <i class="fas fa-play" id="ctrl-icon"></i>
  </div>
  <div>
    <i class="fas fa-forward" id="next-btn"></i>
  </div>
</div>

<audio id="song"></audio>

<script>
  const playBtn = document.getElementById('player-btn') as HTMLElement
  const ctrlIcon = document.getElementById('ctrl-icon') as HTMLElement
  const prevBtn = document.getElementById('prev-btn') as HTMLElement
  const nextBtn = document.getElementById('next-btn') as HTMLElement
  const musicPlayer = document.getElementById('song') as HTMLAudioElement
  const musicFiles = [
    '/music/do_the_impossible.mp3',
    '/music/BUMP OF CHICKEN - Hello,world!.mp3',
    '/music/不可思議／wonderboy - いつか来るその日のために.mp3',
    '/music/朴树 - Forever Young (Live).mp3',
    '/music/林家谦 - 神奇的糊涂魔药.mp3',
  ]

  let currentTrack = 0
  let isPlaying = false

  function playCurrentTrack(): void {
    musicPlayer.src = musicFiles[currentTrack]
    musicPlayer.play()
    ctrlIcon.classList.remove('fa-play')
    ctrlIcon.classList.add('fa-pause')
    isPlaying = true
  }

  function pauseCurrentTrack(): void {
    musicPlayer.pause()
    ctrlIcon.classList.remove('fa-pause')
    ctrlIcon.classList.add('fa-play')
    isPlaying = false
  }

  playBtn.addEventListener('click', () => {
    if (isPlaying) {
      pauseCurrentTrack()
    } else {
      playCurrentTrack()
    }
  })

  prevBtn.addEventListener('click', () => {
    currentTrack = (currentTrack - 1 + musicFiles.length) % musicFiles.length
    playCurrentTrack()
  })

  nextBtn.addEventListener('click', () => {
    currentTrack = (currentTrack + 1) % musicFiles.length
    playCurrentTrack()
  })

  musicPlayer.addEventListener('ended', () => {
    nextBtn.click() // Move to the next track when the current one ends
  })
</script>
