---
---

<div id="player">
  <button id="play-btn" title="play-btn"></button>
</div>
<audio id="music-player"></audio>

<script>
  const playBtn: HTMLElement | null = document.getElementById('play-btn')
  const musicPlayer: HTMLAudioElement | null = document.getElementById('music-player') as HTMLAudioElement
  const musicFiles: string[] = ['/music/do_the_impossible.mp3']

  let currentTrack: number = 0
  let isPlaying: boolean = false

  if (musicPlayer && playBtn) {
    musicPlayer.addEventListener('ended', () => {
      currentTrack = (currentTrack + 1) % musicFiles.length
      musicPlayer.src = musicFiles[currentTrack]
      musicPlayer.play()
    })

    playBtn.addEventListener('click', () => {
      if (isPlaying) {
        musicPlayer.pause()
        playBtn.classList.remove('playing')
        playBtn.classList.add('paused')
      } else {
        musicPlayer.src = musicFiles[currentTrack]
        musicPlayer.play()
        playBtn.classList.remove('paused')
        playBtn.classList.add('playing')
      }
      isPlaying = !isPlaying
    })
  }
</script>
