---
---

<div id="player">
  <button id="play-btn"></button>
</div>
<audio id="music-player"></audio>

<style>
  #player {
    width: 45px;
    height: 45px;
    border-radius: 50%;
    background-color: #808080;
    position: relative;
  }

  #play-btn {
    width: 35px;
    height: 35px;
    border-radius: 50%;
    background-color: #fff;
    position: absolute;
    top: 5px;
    left: 5px;
    cursor: pointer;
  }

  #play-btn:before {
    content: '\25B6';
  }

  #play-btn.playing:before {
    content: '\25AE';
  }

  #play-btn.paused:before {
    content: '\25B6';
  }

  #player {
    display: none;
  }

  @media screen and (min-width: 636px) {
    #player {
      display: block;
    }
  }

  .dark #player {
    background-color: #fff;
  }

  .dark #play-btn {
    background-color: #333;
  }
</style>

<script>
  const playBtn: any = document.getElementById('play-btn')
  const musicPlayer: any = document.getElementById('music-player')
  const musicFiles: any = ['/music/do_the_impossible.mp3']

  let currentTrack = 0
  let isPlaying = false

  musicPlayer.addEventListener('ended', () => {
    currentTrack = (currentTrack + 1) % musicFiles.length
    musicPlayer.src = musicFiles[currentTrack]
    musicPlayer.play()
  })

  playBtn.addEventListener('click', () => {
    if (isPlaying) {
      musicPlayer.pause()
      playBtn.classList.remove('playing')
      playBtn.classList.add('paused')
      isPlaying = false
    } else {
      musicPlayer.src = musicFiles[currentTrack]
      musicPlayer.play()
      playBtn.classList.remove('paused')
      playBtn.classList.add('playing')
      isPlaying = true
    }
  })
</script>
