---
import '../styles/music.css'
---

<div id="controls">
  <div>
    <i class="fas fa-backward" id="prev-btn"></i>
  </div>
  <div id="player-btn">
    <i class="fas fa-play" id="ctrl-icon"></i>
  </div>
  <div>
    <i class="fas fa-forward" id="next-btn"></i>
  </div>
</div>

<audio id="song"></audio>

<script>
  const playBtn = document.getElementById('player-btn') as HTMLElement
  const ctrlIcon = document.getElementById('ctrl-icon') as HTMLElement
  const prevBtn = document.getElementById('prev-btn') as HTMLElement
  const nextBtn = document.getElementById('next-btn') as HTMLElement
  const musicPlayer = document.getElementById('song') as HTMLAudioElement
  const musicFiles = [
    '/music/do_the_impossible.mp3',
    '/music/BUMP OF CHICKEN - Hello,world!.mp3',
    '/music/不可思議／wonderboy - いつか来るその日のために.mp3',
    '/music/林家谦 - 神奇的糊涂魔药.mp3',
  ]

  let currentTrack = parseInt(localStorage.getItem('currentTrack')) || 0
  let isPlaying = localStorage.getItem('isPlaying') === 'true'
  let playbackPosition = parseFloat(localStorage.getItem('playbackPosition')) || 0

  function playCurrentTrack(): void {
    musicPlayer.src = musicFiles[currentTrack]
    musicPlayer.currentTime = playbackPosition
    musicPlayer.play()
    ctrlIcon.classList.remove('fa-play')
    ctrlIcon.classList.add('fa-pause')
    isPlaying = true
    localStorage.setItem('isPlaying', 'true')
  }

  function pauseCurrentTrack(): void {
    musicPlayer.pause()
    playbackPosition = musicPlayer.currentTime
    ctrlIcon.classList.remove('fa-pause')
    ctrlIcon.classList.add('fa-play')
    isPlaying = false
    localStorage.setItem('isPlaying', 'false')
    localStorage.setItem('playbackPosition', playbackPosition.toString())
  }

  function switchToTrack(trackIndex: number): void {
    currentTrack = trackIndex
    playbackPosition = 0
    playCurrentTrack()
    localStorage.setItem('currentTrack', currentTrack.toString())
    localStorage.setItem('playbackPosition', playbackPosition.toString())
  }

  playBtn.addEventListener('click', () => {
    if (isPlaying) {
      pauseCurrentTrack()
    } else {
      playCurrentTrack()
    }
  })

  prevBtn.addEventListener('click', () => {
    const prevTrack = (currentTrack - 1 + musicFiles.length) % musicFiles.length
    switchToTrack(prevTrack)
  })

  nextBtn.addEventListener('click', () => {
    const nextTrack = (currentTrack + 1) % musicFiles.length
    switchToTrack(nextTrack)
  })

  musicPlayer.addEventListener('ended', () => {
    const nextTrack = (currentTrack + 1) % musicFiles.length
    switchToTrack(nextTrack)
  })

  function updatePlaybackProgress() {
    setInterval(() => {
      if (isPlaying) {
        playbackPosition = musicPlayer.currentTime
        localStorage.setItem('playbackPosition', playbackPosition.toString())
      }
    }, 300)
  }

  if (isPlaying) {
    playCurrentTrack()
  } else {
    pauseCurrentTrack()
  }

  updatePlaybackProgress()
</script>
