---
---

<div id="player-btn">
  <i class="fas fa-play" id="ctrl-icon"></i>
</div>

<audio id="music-player"></audio>

<script>
  const playBtn: HTMLElement | null = document.getElementById('player-btn')
  const ctrlIcon: HTMLElement | null = document.getElementById('ctrl-icon')
  const musicPlayer: HTMLAudioElement | null = document.getElementById('music-player') as HTMLAudioElement
  const musicFiles: string[] = ['/music/do_the_impossible.mp3']

  let currentTrack: number = 0
  let isPlaying: boolean = false

  if (musicPlayer && playBtn) {
    musicPlayer.addEventListener('ended', () => {
      currentTrack = (currentTrack + 1) % musicFiles.length
      musicPlayer.src = musicFiles[currentTrack]
      musicPlayer.play()
    })

    playBtn.addEventListener('click', () => {
      if (isPlaying) {
        musicPlayer.pause()
        ctrlIcon.classList.remove('fa-pause')
        ctrlIcon.classList.add('fa-play')
      } else {
        musicPlayer.src = musicFiles[currentTrack]
        musicPlayer.play()
        ctrlIcon.classList.remove('fa-play')
        ctrlIcon.classList.add('fa-pause')
      }
      isPlaying = !isPlaying
    })
  }
</script>
