---
import '../styles/nav.css'
---

<div id="nav-backdrop"></div>

<nav class="nav-links">
  <a href="/">Home</a>
  <a href="/about">About</a>
  <a href="/blog">Blog</a>
  <a href="/archive">Archive</a>
</nav>
