---
import '../styles/nav.css'
---

<div class="nav-links">
  <a href="/">Home</a>
  <a href="/about">About</a>
  <a href="/blog">Blog</a>
  <a href="/search">Search</a>
  <a href="/rss.xml" title="RSS 订阅" aria-label="RSS">RSS</a>
</div>
