---
import '../styles/nav.css'
import { withBase } from '../utils/path'
---

<div id="nav-backdrop"></div>

<nav class="nav-links">
  <a href={withBase('/')}>Home</a>
  <a href={withBase('/about')}>About</a>
  <a href={withBase('/blog')}>Blog</a>
  <a href={withBase('/archive')}>Archive</a>
  <a href={withBase('/anime')}>Anime</a>
  <a href={withBase('/music')}>Music</a>
  <a href={withBase('/search')} class="nav-search-mobile">Search</a>
</nav>
