---
import '../styles/global.css'
import Header from '../components/Header.astro'
import Footer from '../components/Footer.astro'

const { pageTitle } = Astro.props
---

<html lang="en">
  <head>
    <meta charset="utf-8" />
    <link rel="icon" type="image/svg+xml" href="/zero.jpeg" />
    <link rel="stylesheet" href="/css/prism-nord.css" />
    <meta name="viewport" content="width=device-width" />
    <meta name="generator" content={Astro.generator} />
    <title>{pageTitle}</title>
  </head>
  <body>
    <Header />
    <h1>{pageTitle}</h1>
    <slot />
    <Footer />
    <a href="#" id="back-to-top" class="back-to-top">Top</a>
    <script>
      import '../scripts/menu.js'
      import '../scripts/copy.js'
      import '../scripts/back-to-top.js'
    </script>
  </body>
</html>
