---
import '../styles/global.css'
import Header from '../components/Header.astro'
import Footer from '../components/Footer.astro'
import Top from '../components/Top.astro'

const { pageTitle } = Astro.props
---

<html lang="en">
  <head>
    <meta charset="utf-8" />
    <link rel="icon" type="image/svg+xml" href="/zero.jpeg" />
    <link rel="stylesheet" href="/css/prism-nord.css" />
    <meta name="viewport" content="width=device-width" />
    <meta name="generator" content={Astro.generator} />
    <!-- 引入 KaTeX 样式 -->
    <link
      rel="stylesheet"
      href="https://cdn.jsdelivr.net/npm/katex@0.16.9/dist/katex.min.css"
      integrity="sha384-n8MVd4RsNIU0tAv4ct0nTaAbDJwPJzDEaqSD1odI+WdtXRGWt2kTvGFasHpSy3SV"
      crossorigin="anonymous"
    />
    <title>{pageTitle}</title>
  </head>
  <body>
    <Header />
    <h1>{pageTitle}</h1>
    <slot />
    <Footer />
    <Top />
    <script>
      import '../scripts/copy.js'
      import '../scripts/zoom-images'
    </script>
    <script src="https://kit.fontawesome.com/094105c4c5.js" crossorigin="anonymous"></script>
  </body>
</html>
